<%= form_with model: @tweet do |form| %>
    <% if form.object.errors.any? %>
        <div>
            <h2><%= pluralize(form.object.errors.count, "error") %> prophibited this Tweet from being saved:</h2>
            <ul>
                <% form.object.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        
        </div>
    <% end %>

    <%= form.text_area :body, placeholder: "Whats on your mind?" %>

    <div> 
       <%= form.submit "Tweet" %> 
    </div>

   
<% end %>
  <div>
        <br />
        <h2>All Tweets:</h2>
        <% @tweets.each do |tweet| %>
           <div>
            <br/>
                <%= tweet.body %> 
                <br/>
                <%= tweet.user.email %> 
              
                <%= tweet.updated_at.in_time_zone("Stockholm").strftime("%H.%M %e %B -%y") %>
                <%= button_to 'Delete', tweet_path(tweet), method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
           
        <% end %>
    </div>